.header-font {
    font-family: 'Titillium Web', sans-serif;
    font-size: 4vw;
}

.header-font-p {
    font-size: 2vw;
}

.header-font-2 {
    font-size: 3vw;
}

.header-font-p-2 {
    font-size: 1vw;
}


.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.text-line {
    text-decoration: none;
}

.question-pattern:hover {
    background-color: #9dc1f675;
}